@model IEnumerable<MyWeb.Models.Admin>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/SicAdmin/Views/Shared/_AdminLayout.cshtml";
}

<h2>管理员</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="tblong">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AdminName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdminNik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastLoginDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Isdel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AdminName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdminNik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastLoginDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Isdel)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
