@model IEnumerable<MyWeb.Models.WebInfo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/SicAdmin/Views/Shared/_AdminLayout.cshtml";
}

<h2>网站信息</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="tblong">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Keywords)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChangeTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceContent)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Keywords)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChangeTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceContent)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
