@model MyWeb.Models.ArticleType

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/SicAdmin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ArticleType</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.TypeName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TypeName)
            @Html.ValidationMessageFor(model => model.TypeName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreatDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatDate)
            @Html.ValidationMessageFor(model => model.CreatDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ChangeDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ChangeDate)
            @Html.ValidationMessageFor(model => model.ChangeDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Isdel)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Isdel)
            @Html.ValidationMessageFor(model => model.Isdel)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
